:root {
  
  --color-primary: #f3969a;
  --color-secondary: #78c2ad;
}


.section-header-secondary {
  text-align: center;
  padding-bottom: 60px;
}

.section-header-secondary h2 {
  
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-header-secondary h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 90px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


.section-header {
  text-align: center;
  padding-bottom: 60px;
}

.section-header h2 {
  
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-header h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 90px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-header h1 {
  
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-header h1:after {
  content: "";
  position: absolute;
  display: block;
  width: 90px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-header p {
  margin-bottom: 0;
  color: #6f6f6f;
}