<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  <link href="../static/css/main.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link href="../static/icons/bootstrap-icons.css" rel="stylesheet">

    <title>Aggie Volunteer World</title>
    <style type="text/css">#carouselExampleDark {
  margin-left: 50px;
  margin-right: 50px;
}
.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}



</style>
</head>
<body>
    <!-- Navigation Menu -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary py-3">
        <div class="container-fluid">
            <!-- Logo and Tagline -->
            <a class="navbar-brand" href="#">
                <img src="../static/images/logo.jpeg" alt="Aggie Volunteer World Logo" width="60" height="60" class="d-inline-block align-text-center">
                <h5 style="display:inline"> Aggie Volunteer World </h5>
                <br>
                <div class="fs-6">A place to find volunteers and opportunities</div>
                
            </a>
            <!-- Menu Links -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Discover Opportunities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login / Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="container">
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h1 class="mb-4">About Us</h1>
      <p>We are a group of volunteers dedicated to connecting volunteers with volunteering opportunities around College Station, Texas. Our mission is to help people give back to their community and make a positive impact on the world.</p>
      <hr>

      <h2 class="mt-4 mb-4">Meet the Team</h2>

      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-3 align-self-center">
            <img src="../static/images/Alex.jpeg" class="rounded-circle" alt="..." style="max-width: 250px;">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Alexander Yuwantoro</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-3 align-self-center">
            <img src="../static/images/Chaitanya.jpeg" class="rounded-circle" alt="...">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Chaitanya Patil</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-3 align-self-center">
            <img src="../static/images/Neel.jpeg" class="rounded-circle" alt="...">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Neel Bedarkar</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
<div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-3 align-self-center">
            <img src="../static/images/Padmaja.jpeg" class="rounded-circle" alt="...">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Padmaja Harichandran</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
        <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-3 align-self-center">
            <img src="../static/images/Vignesh.jpeg" class="rounded-circle" alt="...">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Vignesh Ananthanarayanan</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>

        <section id="trust-us" class="py-5">
  <div class="container">
    <h2 class="mb-3">Why You Can Trust Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et risus libero. Sed vel commodo elit. In a turpis ac elit pellentesque eleifend. Praesent quis bibendum lorem. Proin quis blandit sapien, sit amet pharetra tellus. Etiam faucibus nisi ut enim varius feugiat. Ut vel nunc ut nulla ultricies venenatis id ut urna. Nunc non neque est. Sed ut dapibus dolor. Fusce consectetur, felis ac suscipit dictum, ex libero hendrerit dolor, a auctor arcu urna ut arcu.</p>
  </div>
</section>

<section id="contact-us" class="py-5 bg-light">
  <div class="container">
    <h2 class="mb-3">Contact Us</h2>
    <div class="row">
      <div class="col-md-6">
        <h4 class="mb-3">Email</h4>
        <p><a href="mailto:person@thatemail.com">person@thatemail.com</a></p>
      </div>
      <div class="col-md-6">
        <h4 class="mb-3">Phone</h4>
        <p>555-555-1212</p>
      </div>
    </div>
  </div>
</section>

<section id="additional-info" class="py-5">
  <div class="container">
    <h2 class="mb-3">Additional Information</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et risus libero. Sed vel commodo elit. In a turpis ac elit pellentesque eleifend. Praesent quis bibendum lorem. Proin quis blandit sapien, sit amet pharetra tellus. Etiam faucibus nisi ut enim varius feugiat. Ut vel nunc ut nulla ultricies venenatis id ut urna. Nunc non neque est. Sed ut dapibus dolor. Fusce consectetur, felis ac suscipit dictum, ex libero hendrerit dolor, a auctor arcu urna ut arcu.</p>
  </div>
</section>

    </div>
  </div>

</div>

</main>
<!-- Bootstrap Bundle with Popper and jQuery -->
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>
