<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  <link href="../static/css/main.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link href="../static/icons/bootstrap-icons.css" rel="stylesheet">

    <title>Aggie Volunteer World</title>
    <style type="text/css">#carouselExampleDark {
  margin-left: 50px;
  margin-right: 50px;
}
.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}



</style>
</head>
<body>
    <!-- Navigation Menu -->
     <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <div class="container-fluid">
            <!-- Logo and Tagline -->
            <a class="navbar-brand" href="/">
                <img src="../static/images/logo.jpeg" alt="Aggie Volunteer World Logo" width="60" height="60" class="d-inline-block align-text-center">
                <h3 style="display:inline"> Aggie Volunteer World </h3>
                <br>
                <div class="fs-6">A place to find volunteers and opportunities</div>

            </a>
            <!-- Menu Links -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/about_us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/discover_opportunities">Discover Opportunities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                  {% if session.logged_in %}
      <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
   {% else %}
      <li class="nav-item">
                        <a class="nav-link" href="/login">Login / Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->

    <div class="col-xxl-12 px-4 py-5 border-bottom hero-image text-white img-fluid align-bottom" style="height: 500px;">
    <div class="row align-items-center g-5 py-5">
        <div class="section-header text-center">
       <h1 class="display-1">About Us</h1>
      </div>

       <p class="fs-4 text-center">Aggie Volunteer World is brought to you by Aggie Altruists</p>
    </div>
  </div>


    <main class="container">
<div class="container mt-5">

  <div class="row">
    <div class="col-lg-10 col-xs-6 mx-auto">

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4 font-weight-light">Our Mission</h1>
        <p class="lead mb-0"> The Aggie Altruists team shares multicultural backgrounds but is unified through core values and the Aggie Spirit. We believe that to help the world, we must start by helping our local communities.</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
      <img src="../static/images/AboutUs.jpeg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h1 class="display-4 font-weight-light">Our Team</h1>
      </div>
        <p class="lead">Aggie Altruists are all former students who got together to give back to Aggieland </p>
    </div>
<div class="row">
      <div class="col-md-4 col-xs-6 pb-3 mt-3">
          <img class="img-fluid rounded-circle" width="200" height="200" src="../static/images/Alex.jpg"/>
        <h2>Alexander</h2>
        <p>Platform Manager</p>
          <p>Alexander is responsible for overseeing the day-to-day operations of the volunteering platform, ensuring it is functioning properly and meeting the needs of its users. He is also responsible for managing the platform's budget, setting goals and targets for the platform's growth, and tracking key performance metrics.</p>
      </div>
      <div class="col-md-4 col-xs-6 pb-3 mt-3">
          <img class="img-fluid rounded-circle" width="200" height="200" src="../static/images/Chaitanya.jpg"/>
        <h2>Chaitanya</h2>
        <p>Volunteer  Manager</p>
          <p>Chaitanya is responsible for managing the pool of volunteers registered on the platform. He works to identify volunteer opportunities that align with the skills and interests of registered users, as well as promoting the platform to encourage more Aggies to sign up and volunteer.</p>
      </div>
     <div class="col-md-4 col-xs-6 pb-3 mt-3">
          <img class="img-fluid rounded-circle" width="200" height="200" src="../static/images/Neel.jpg"/>
        <h2>Neel</h2>
        <p>Nonprofit Liaison</p>
      <p>Neel is responsible for building and maintaining relationships with nonprofit organizations that partner with the platform. He works to identify new partners, communicate with existing partners to understand their needs and requirements, and troubleshoot any issues that arise.</p>
      </div>
     <div class="col-md-4 col-xs-6 pb-3 mt-3" >
          <img class="img-fluid rounded-circle" width="200" height="200" src="../static/images/Padmaja.jpg"/>
        <h2>Padmaja</h2>
          <p>Content Manager</p>
        <p> Padmaja is responsible for developing and executing a comprehensive content strategy that promotes the organization's mission and values. This involves creating engaging and informative content across various digital channels and measuring the effectiveness of the strategy.</p>
      
      </div>
     <div class="col-md-4 col-xs-6 pb-3 mt-3">
          <img class="img-fluid rounded-circle" width="200" height="200" src="../static/images/Vignesh.jpg"/>
        <h2>Vignesh</h2>
         <p>Marketing and Communications Specialist</p>
        <p>Vignesh develops and implements marketing plans to promote the organization's mission. He creates engaging content, manages social media accounts, and coordinates with the team to plan events and outreach initiatives.</p>
      </div>
        </div>

  </div>
   <section id="trust-us" class="py-5 bg-light">
  <div class="container">

        <div class="display-4 font-weight-light mb-3">Why You Can Trust Us</div>


        <p>At Aggie Volunteer World, we understand the value of finding the right opportunities when
        it comes to volunteer work.
        That's why we're committed to providing a trustworthy platform for connecting volunteers with
        opportunities that match their interests and skills.</p>
  </div>
</section>
<!--<section id="additional-info" class="py-5">-->
<!--  <div class="container">-->

<!--        <div class="display-4 font-weight-light mb-3">Additional Information</div>-->


<!--    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et risus libero. Sed vel commodo elit. In a turpis ac elit pellentesque eleifend. Praesent quis bibendum lorem. Proin quis blandit sapien, sit amet pharetra tellus. Etiam faucibus nisi ut enim varius feugiat. Ut vel nunc ut nulla ultricies venenatis id ut urna. Nunc non neque est. Sed ut dapibus dolor. Fusce consectetur, felis ac suscipit dictum, ex libero hendrerit dolor, a auctor arcu urna ut arcu.</p>-->
<!--  </div>-->
<!--</section>-->

<section id="contact-us" class="py-5 bg-light">
  <div class="container">
       <div class="display-4 font-weight-light mb-3">Contact Us</div>
    <div class="row">
      <div class="col-md-6">
        <h4 class="mb-3">Email</h4>
        <p><a href="mailto:aggievolunteerworld@gmail.com">aggievolunteerworld@gmail.com</a></p>
      </div>
      <div class="col-md-6">
        <h4 class="mb-3">Phone</h4>
        <p>979-111-1111</p>
      </div>
    </div>
  </div>
</section>


    </div>
  </div>

</div>

</main>
<!-- Bootstrap Bundle with Popper and jQuery -->
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>
