<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  <link href="../static/css/main.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link href="../static/icons/bootstrap-icons.css" rel="stylesheet">

    <title>Aggie Volunteer World</title>
    <style type="text/css">#carouselExampleDark {
  margin-left: 50px;
  margin-right: 50px;
}
.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}



</style>
</head>
<body>
    <!-- Navigation Menu -->
     <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <div class="container-fluid">
            <!-- Logo and Tagline -->
            <a class="navbar-brand" href="/">
                <img src="../static/images/logo.jpeg" alt="Aggie Volunteer World Logo" width="60" height="60" class="d-inline-block align-text-center">
                <h5 style="display:inline"> Aggie Volunteer World </h5>
                <br>
                <div class="fs-6">A place to find volunteers and opportunities</div>

            </a>
            <!-- Menu Links -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/about_us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/discover_opportunities">Discover Opportunities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                  {% if session.username %}
      <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
   {% else %}
      <li class="nav-item">
                        <a class="nav-link" href="/login">Login / Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->

    <div class="col-xxl-12 px-4 py-5 border-bottom hero-image text-white img-fluid align-bottom" style="height: 500px;">
    <div class="row align-items-center g-5 py-5">
        <div class="section-header text-center">
       <h1 class="display-1">About Us</h1>
      </div>

      <p class="lead mb-4 text-center">Aggie Volunteer World is brought to you by Aggie Altruists</p>
    </div>
  </div>


    <main class="container">
<div class="container mt-5">

  <div class="row">
    <div class="col-lg-10 col-xs-6 mx-auto">

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Our Mission</h1>
        <p class="lead text-muted mb-0"> The Aggie Altruists team shares multicultural backgrounds but is unified through core values and the Aggie Spirit. We believe that to help the world, we must start by helping our local communities.”</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
      <img src="../static/images/AboutUs.jpeg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our Team</h2>
        <p class="font-italic text-muted">Aggie Altruists are all former students who got together to give back to Aggieland </p>
      </div>
    </div>
<div class="row">
      <div class="col-md-4 col-xs-6 pb-3 mt-3">
          <img class="img-fluid rounded-circle" width="200" height="200" src="../static/images/Alex.jpg"/>
        <h2>Alexander</h2>
        <p>Platform Manager</p>
      </div>
      <div class="col-md-4 col-xs-6 pb-3 mt-3">
          <img class="img-fluid rounded-circle" width="200" height="200" src="../static/images/Chaitanya.jpg"/>
        <h2>Chaitanya</h2>
        <p>Volunteer  Manager</p>
      </div>
     <div class="col-md-4 col-xs-6 pb-3 mt-3">
          <img class="img-fluid rounded-circle" width="200" height="200" src="../static/images/Neel.jpg"/>
        <h2>Neel</h2>
        <p>Nonprofit Liaison</p>
      
      </div>
     <div class="col-md-4 col-xs-6 pb-3 mt-3" >
          <img class="img-fluid rounded-circle" width="200" height="200" src="../static/images/Padmaja.jpg"/>
        <h2>Padmaja</h2>
        <p>Content Manager</p>
      
      </div>
     <div class="col-md-4 col-xs-6 pb-3 mt-3">
          <img class="img-fluid rounded-circle" width="200" height="200" src="../static/images/Vignesh.jpg"/>
        <h2>Vignesh</h2>
        <p>Marketing and Communications Specialist:</p>
      
      </div>
        </div>

  </div>
   <section id="trust-us" class="py-5 bg-light">
  <div class="container">
    <h2 class="mb-3">Why You Can Trust Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et risus libero. Sed vel commodo elit. In a turpis ac elit pellentesque eleifend. Praesent quis bibendum lorem. Proin quis blandit sapien, sit amet pharetra tellus. Etiam faucibus nisi ut enim varius feugiat. Ut vel nunc ut nulla ultricies venenatis id ut urna. Nunc non neque est. Sed ut dapibus dolor. Fusce consectetur, felis ac suscipit dictum, ex libero hendrerit dolor, a auctor arcu urna ut arcu.</p>
  </div>
</section>
<section id="additional-info" class="py-5">
  <div class="container">
    <h2 class="mb-3">Additional Information</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et risus libero. Sed vel commodo elit. In a turpis ac elit pellentesque eleifend. Praesent quis bibendum lorem. Proin quis blandit sapien, sit amet pharetra tellus. Etiam faucibus nisi ut enim varius feugiat. Ut vel nunc ut nulla ultricies venenatis id ut urna. Nunc non neque est. Sed ut dapibus dolor. Fusce consectetur, felis ac suscipit dictum, ex libero hendrerit dolor, a auctor arcu urna ut arcu.</p>
  </div>
</section>

<section id="contact-us" class="py-5 bg-light">
  <div class="container">
    <h2 class="mb-3">Contact Us</h2>
    <div class="row">
      <div class="col-md-6">
        <h4 class="mb-3">Email</h4>
        <p><a href="mailto:person@thatemail.com">person@thatemail.com</a></p>
      </div>
      <div class="col-md-6">
        <h4 class="mb-3">Phone</h4>
        <p>555-555-1212</p>
      </div>
    </div>
  </div>
</section>


    </div>
  </div>

</div>

</main>
<!-- Bootstrap Bundle with Popper and jQuery -->
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>
