<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  <link href="../static/css/main.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link href="../static/icons/bootstrap-icons.css" rel="stylesheet">

    <title>Aggie Volunteer World</title>
    <style type="text/css">#carouselExampleDark {
  margin-left: 50px;
  margin-right: 50px;
}
.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}


.mydiv { display: inline; }
.hidden{ display: none; }

</style>
</head>
<body>
    <!-- Navigation Menu -->

    <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <div class="container-fluid">
            <!-- Logo and Tagline -->
    <a class="navbar-brand" href="/">
            <img src="../static/images/logo.jpeg" alt="Aggie Volunteer World Logo" width="60" height="60" class="d-inline-block align-text-center">
            <div class="d-inline-block align-middle">
                <h3 class="align-middle mb-0"> Aggie Volunteer World </h3>
                <div class="fs-6 align-middle">A place to find volunteers and opportunities</div>
            </div>
        </a>
            <!-- Menu Links -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto d-flex align-items-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about_us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/discover_opportunities">Discover Opportunities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/post_opportunities">Post Opportunities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                     {% if session.logged_in %}
         <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="bi bi-person-circle align-middle fs-3"></span>
  </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
    <li><a class="dropdown-item" href="/profile">View Profile</a></li>
    <li><a class="dropdown-item" href="/logout">Logout</a></li>
  </ul>
</li>
   {% else %}
      <li class="nav-item">
                        <a class="nav-link" href="/login">Login / Sign Up</a>
                    </li>
   {% endif %}

                </ul>
            </div>
        </div>
    </nav>

{% block content %}{% endblock %}
</body>
</html>
