{% extends "base.html" %}
        {% block content %}

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Volunteer For Local Events</h2>
        <p class="font-italic text-muted mb-4">
          Organizations from Brazos Valley, Houston, and Galveston post events on Aggie Volunteer World. Find the cause that matters to you and help your community!
        </p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="../static/images/Volunteer.jpeg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="../static/images/NGO.jpeg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Post Local Volunteer Events</h2>
        <p class="font-italic text-muted mb-4">Aggies are eager to volunteer and want to find opportunities to do so. Does your organization need volunteers? Post your event and get volunteers from the best student body! </p>
      </div>
    </div>
  </div>
</div>

<section id="faq-us" class="py-5 bg-light">
  <div class="container">
       <div class="display-4 font-weight-light mb-3">Frequently Asked Questions</div>
    <div class="row">
      <div class="col-md-6">
        <br>
        <h4 class="mb-3">For Volunteers</h4>
        <div class="accordion pt-3" id="faqAccordion-volunteer">
          <div class="list-group">
            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#faq-volunteer-1" role="button" aria-expanded="false" aria-controls="faq-volunteer-1">
              How do I find volunteer opportunities near my location?
            </a>
            <div class="collapse" id="faq-volunteer-1">
              <div class="list-group-item">
                You can use the search option on our website to browse a wide selection of volunteer opportunities in your region by entering your location. Based on your interests, abilities, and causes you are passionate about, you can filter the results.
              </div>
            </div>
        
            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#faq-volunteer-2" role="button" aria-expanded="false" aria-controls="faq-volunteer-2">
              Can I volunteer remotely or online?
            </a>
            <div class="collapse" id="faq-volunteer-2">
              <div class="list-group-item">
                Yes, we provide online and remote volunteer opportunities. These are convenient for people with busy schedules or limited mobility because they let you donate your time and skills while remaining in the comfort of your own home. Through our website, you can look for remote volunteer opportunities and submit an application.
              </div>
            </div>
        
            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#faq-volunteer-3" role="button" aria-expanded="false" aria-controls="faq-volunteer-3">
              Do I need any specific skills or qualifications to volunteer?
            </a>
            <div class="collapse" id="faq-volunteer-3">
              <div class="list-group-item">
                To help you identify the opportunity that best suits your skills and interests, we provide comprehensive information about each one, including the necessary qualifications.
              </div>
            </div>
        
            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#faq-volunteer-3" role="button" aria-expanded="false" aria-controls="faq-volunteer-3">
              How do I apply for a volunteer position?
            </a>
            <div class="collapse" id="faq-volunteer-3">
              <div class="list-group-item">
                To apply for a volunteer position, just navigate to the opportunity listing on our website and click the "Apply" button. You can use this to assist you with the application procedure, which may require uploading your resume, filling out an online form, or answering specific questions. The organization will contact you directly to discuss the next steps after reviewing your application.
              </div>
            </div>
        
            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#faq-volunteer-3" role="button" aria-expanded="false" aria-controls="faq-volunteer-3">
              Can I track my volunteer hours on the website?
            </a>
            <div class="collapse" id="faq-volunteer-3">
              <div class="list-group-item">
                Yes, registered users of our website have access to a feature that allows them to track and log their volunteer hours. You may quickly log the number of hours you've volunteered, the organizations you've worked with, and any other information you'd like to include after registering and creating an account. You can use this feature to maintain track of your contributions, which might be helpful for future references or verification.
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <br>
        <h4 class="mb-3">For Providers</h4>
        <div class="accordion pt-3" id="faqAccordion-volunteer">
          <div class="list-group">
            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#faq-provider-1" role="button" aria-expanded="false" aria-controls="faq-provider-1">
              What types of programs do you offer?
            </a>
            <div class="collapse" id="faq-provider-1">
              <div class="list-group-item">
                We offer a variety of programs focused on health and wellness, education, community outreach, and more.
              </div>
            </div>
        
            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#faq-provider-2" role="button" aria-expanded="false" aria-controls="faq-provider-2">
              How can I get involved with volunteering?
            </a>
            <div class="collapse" id="faq-provider-2">
              <div class="list-group-item">
                We have a range of volunteer opportunities available, including one-time events and ongoing programs.
              </div>
            </div>
        
            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#faq-provider-3" role="button" aria-expanded="false" aria-controls="faq-provider-3">
              Who can participate in your programs?
            </a>
            <div class="collapse" id="faq-provider-3">
              <div class="list-group-item">
                Our programs are open to individuals of all ages and backgrounds. We welcome anyone who is interested in giving back to the community.
              </div>
            </div>
        
            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#faq-provider-4" role="button" aria-expanded="false" aria-controls="faq-provider-4">
              How can I partner with your organization?
            </a>
            <div class="collapse" id="faq-provider-4">
              <div class="list-group-item">
                We are always looking for new partners to help support our mission. You can do this by creating an account for your organization with us and posting any volunteering oppurtunities available
              </div>
            </div>
            
            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#faq-provider-5" role="button" aria-expanded="false" aria-controls="faq-provider-5">
              Can I receive community service hours for volunteering?
            </a>
            <div class="collapse" id="faq-provider-5">
              <div class="list-group-item">
                Yes, we are happy to provide community service hours for volunteers who need them. Just let us know when you show up to volunteer.
              </div>
            </div>
            
            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#faq-provider-6" role="button" aria-expanded="false" aria-controls="faq-provider-6">
              How do I sign up to volunteer?
            </a>
            <div class="collapse" id="faq-provider-6">
              <div class="list-group-item">
                You can sign up to volunteer on our website. Simply create an account and browse our available volunteer opportunities.
              </div>
            </div>
            
            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#faq-provider-7" role="button" aria-expanded="false" aria-controls="faq-provider-7">
              How do I contact your organization for more information?
            </a>
            <div class="collapse" id="faq-provider-7">
              <div class="list-group-item">
                You can contact us through our website or by phone or email. Our contact information is listed in the Abous Us section on our website.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/main.js"></script>
{% endblock %}
