<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  <link href="../static/css/main.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link href="../static/icons/bootstrap-icons.css" rel="stylesheet">

    <title>Aggie Volunteer World</title>
    <style type="text/css">#carouselExampleDark {
  margin-left: 50px;
  margin-right: 50px;
}
.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}



</style>
</head>
<body>
    <!-- Navigation Menu -->

    <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <div class="container-fluid">
            <!-- Logo and Tagline -->
            <a class="navbar-brand" href="/">
                <img src="../static/images/logo.jpeg" alt="Aggie Volunteer World Logo" width="60" height="60" class="d-inline-block align-text-center">
                <h3 style="display:inline"> Aggie Volunteer World </h3>
                <br>
                <div class="fs-6">A place to find volunteers and opportunities</div>

            </a>
            <!-- Menu Links -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about_us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/discover_opportunities">Discover Opportunities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                     {% if session.logged_in %}
      <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
   {% else %}
      <li class="nav-item">
                        <a class="nav-link" href="/login">Login / Sign Up</a>
                    </li>
   {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="container">
<br>
<br>


        <div class="p-5 row mb-4 bg-light rounded-3  jumbotron-custom">
      <div class="container-fluid py-5 text-light">
                <div class="section-header my-3 py-3">
        <h1 class="display-1 text-center mb-5">Give Back To The Community With<br> Aggie Volunteer World</h1>
</div>
        <p class="fs-4">Aggie Volunteer World is a platform that helps you find and share volunteer opportunities.
        <br> Join us now to make a positive impact in your community. </p>
        <a class="btn btn-warning btn-lg mb-3" href="/help" type="button">Learn More</a>
        <a class="btn btn-success btn-lg mb-3" href="/discover_opportunities" type="button">Get Started</a>
      </div>
    </div>


        <!-- Heading -->

        <!-- Search Bar and Learn More Button -->
        <div class="row mb-5 gy-5">
            <div class="col-md-6 bg-success">
            	<div class="me-md-2 pt-2 px-2 pt-md-2 px-md-2 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
          <div class="section-header">
        <div class="display-4 font-weight-light">Looking to Volunteer?</div>
      </div>
        <p class="lead">Start searching for opportunities by entering keywords of interest below</p>
      </div>
         

   <form class="row g-1" action="/discover_opportunities" method="GET" id="searchform">
  <div class="col-md-5">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" aria-label="Search" id="searchbox">
    </div>
  </div>
  <div class="col-md-4">
   <div class="input-group">
      <label for="location" class="w-25 input-group-text"><i class="bi bi-geo-alt-fill"></i></label>
      <select class="form-select w-75" id="location">
        <option selected disabled>Filter Location</option>
              <option value="Bryan">Bryan</option>
              <option value="College Station">College Station</option>
              <option value="Navasota">Navasota</option>
              <option value="Houston">Houston</option>
                <option value="Galveston">Galveston</option>
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <button class="btn btn-warning custom-button" type="submit">Search</button>
  </div>
</form>
            </div>
            </div>
            <div class="col-md-6 bg-light">
            <div class="me-md-2 pt-2 mb-3 px-2 pt-md-2 px-md-2 text-center text-dark overflow-hidden">
      <div class="my-3 py-3">
        <div class="section-header-secondary text-center">
        <div class="display-4">Looking for Volunteers?</div>
      </div>
        <p class="lead">Aggie Volunteer World will find the perfect fit for you </p>
      </div>

        <a class="btn btn-success custom-button" href="/comingsoon" type="button">Get Started</a>
        </div>
    </div>
    </div>

    <!-- Testimonials Slideshow -->
    <div class="row border rounded p-4">
        <div class="col">
          <div class="section-header-secondary text-center">
        <div class="display-4">Testimonials</div>
      </div>
          
           <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
  <div class="card-group">
    <div class="card">
              <img class="card-img-top" width="100%" height="400px" src="../static/images/Bob.jpg"/>
			  
              <div class="card-body">
                <h5 class="card-title">Bob Mortimer</h5>                       
                <small class="text-muted"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i></small>              
                <p class="card-text">
                "I had an amazing experience volunteering with Aggie Volunteer World. The process was easy and ..."
            	</p>	
                <a href="/about_us#:~:text=our%20local%20communities.%E2%80%9D-,Our%20Team,-Aggie%20Altruists%20are" class="btn btn-success">Read More</a>
              </div>
            </div>
   
   
       <div class="card">
              <img class="card-img-top" width="100%" height="400px" src="../static/images/Romesh.jpg"/>

              <div class="card-body">
                <h5 class="card-title">Romesh Ravindra</h5>
                <small class="text-muted"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></small> 
                <p class="card-text">
                	"Thanks to Aggie Volunteer World, I found the perfect volunteering opportunity that matched my skills and interests. Highly recommend!"
                </p>
                <a href="/about_us#:~:text=our%20local%20communities.%E2%80%9D-,Our%20Team,-Aggie%20Altruists%20are" class="btn btn-success">Read More</a>
              </div>
              
                              
            </div>
   
     <div class="card">
              <img class="card-img-top" width="100%" height="400px" src="../static/images/Jordan.jpg"/>

              <div class="card-body">
                <h5 class="card-title">Jordan Paula</h5><small class="text-muted"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i></small> 

                <p class="card-text">"I was scrambling for volunteers for an event, but then I found Aggie Volunteer World. I found the best available volunteers from Texas A&M."</p>
                <a href="/about_us#:~:text=our%20local%20communities.%E2%80%9D-,Our%20Team,-Aggie%20Altruists%20are" class="btn btn-success">Read More</a>
              </div>
            </div>
        </div>
   </div>
       <div class="carousel-item" data-bs-interval="10000">
  <div class="card-group">
    <div class="card">
              <img class="card-img-top" width="100%" height="400px" src="../static/images/Monet.jpg"/>

              <div class="card-body">
                <h5 class="card-title">Monet Manet</h5><small class="text-muted"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></small>
                <p class="card-text">
                "I found fulfilling volunteer opportunities at Aggie Volunteer World. The organization I worked with let me make an impact."</p>
                <a href="/about_us#:~:text=our%20local%20communities.%E2%80%9D-,Our%20Team,-Aggie%20Altruists%20are" class="btn btn-success">Read More</a>
              </div>
            </div>
   
   
       <div class="card">
              <img class="card-img-top" width="100%" height="400px" src="../static/images/Nisha.jpg"/>

              <div class="card-body">
                <h5 class="card-title">Nisha Torani</h5><small class="text-muted"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i></small>
                <p class="card-text">"I'm glad I found Aggie Volunteer World. It's a great way to give back to the community and meet new people."</p>
                <a href="/about_us#:~:text=our%20local%20communities.%E2%80%9D-,Our%20Team,-Aggie%20Altruists%20are" class="btn btn-success">Read More</a>
              </div>
            </div>
   
     <div class="card">
              <img class="card-img-top" width="100%" height="400px" src="../static/images/Rebecca.jpg"/>

              <div class="card-body">
                <h5 class="card-title">Rebecca Stark</h5><small class="text-muted"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></small>
                <p class="card-text">"Aggie Volunteer World helped me find a volunteering opportunity that I'm truly passionate about. Thank you!"</p>
                <a href="/about_us#:~:text=our%20local%20communities.%E2%80%9D-,Our%20Team,-Aggie%20Altruists%20are" class="btn btn-success">Read More</a>
              </div>
            </div>
        </div>
   </div>
 
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>

</main>

<!-- Bootstrap Bundle with Popper and jQuery -->
<script src="../static/js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="../static/js/main.js"></script>
  <script>
   document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('#searchform');
    form.addEventListener('submit', function(event) {
      event.preventDefault();
      const search = document.getElementById('searchbox').value
      const location = document.getElementById('location').value

      const url = `/discover_opportunities?location=${location}&search=${search}`;
    // Redirect to the URL
  window.location.href = url;
    });
  });
</script>
</body>
</html>
