<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link href="../static/icons/bootstrap-icons.css" rel="stylesheet">

    <title>Aggie Volunteer World</title>
    <style type="text/css">#carouselExampleDark {
  margin-left: 50px;
  margin-right: 50px;
}
.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}




    </style>
</head>
<body>
<!-- Navigation Menu -->


<!-- Main Content -->
<main class="container">

    <div class="container-fluid text-center mt-0">
  <a href="/"> <img src="../static/images/logo.jpeg" alt="Your Logo" class="img-fluid mx-auto" style="max-width: 150px;"></a>
</div>

 <a href="/" class="btn btn-link">
      <i class="bi bi-arrow-left"></i> Go to the Home Page
    </a>
    <div class="row d-none d-md-flex justify-content-md-center mb-5 gy-3">
        <div class="col-md-6 bg-success">
            <div class="me-md-2 pt-2 px-2 pt-md-2 px-md-2 text-white overflow-hidden">
                  <div class="my-3 py-3">
                    <div class="section-header-secondary mb-0 pb-0">
                        <h2 class="display-5">Login</h2>
                    </div>
                </div>

                        <form method="POST" action="/login_action" class="signin-form">
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input type="text" class="form-control" placeholder="Username" required="" name="username" id="username">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input type="password" class="form-control" placeholder="Password" required="" id="password" name="password">
                            </div>

                            <div class="mb-3">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-success mb-0">Remember Me
                                        <input type="checkbox" checked="">
                                        <span class=""></span>
                                    </label>
                                </div>

                            </div>

                            <div class="mb-3 align-bottom">
                                <button type="submit" class="btn  btn-warning mb-3">Login</button>
                            </div>
                        </form>
            </div>
        </div>
        <div class="col-md-6 bg-light">

            <div class="me-md-2 pt-2 px-2 pt-md-2 px-md-2 text-dark overflow-hidden">
                <div class="my-3 py-3">
                    <div class="section-header-secondary mb-0 pb-0">
                        <h2 class="display-5">Sign Up</h2>
                    </div>
                </div>
<form method="POST" action="/signup_action">
  <div class="mb-3">
    <label for="signup2-username" class="form-label">Username</label>
    <input type="text" class="form-control" id="signup2-username" name="signup2-username" required>
  </div>
  <div class="mb-3">
    <label for="signup2-password" class="form-label">Password</label>
    <input type="password" class="form-control" id="signup2-password" name="signup2-password" required>
  </div>
  <div class="mb-3">
    <label for="signup2-email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="signup2-email" name="signup2-email" aria-describedby="signup2-email-help" required>
    <div id="signup2-email-help" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="form-check mb-3">
    <input type="checkbox" class="form-check-input" id="post-opportunities2" name="post-opportunities2">
    <label class="form-check-label" for="post-opportunities2">I want to post opportunities as part of an organization</label>
  </div>
  <button type="submit" class="btn btn-success mb-3">Sign Up</button>
</form>

            </div>
        </div>
    </div>

  <div class="row d-sm-inline d-md-none">
    <div class="col">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="#login" data-bs-toggle="tab">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#signup" data-bs-toggle="tab">Sign Up</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="login">
            <div class="col-md-6 bg-success">
            <div class="me-md-2 pt-2 px-2 pt-md-2 px-md-2 text-white overflow-hidden">
                  <div class="my-3 py-3">
                    <div class="section-header-secondary mb-0 pb-0">
                        <h2 class="display-5">Login</h2>
                    </div>
                </div>

                        <form method="POST" action="/login_action" class="signin-form">
                            <div class="mb-3">
                                <label class="form-label" for="username1">Username</label>
                                <input type="text" class="form-control" placeholder="Username" required="" id="username1" name="username1">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password1">Password</label>
                                <input type="password" class="form-control" placeholder="Password" required="" id="password1" name="password1">
                            </div>

                            <div class="mb-3">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-success mb-0">Remember Me
                                        <input type="checkbox" checked="">
                                        <span class=""></span>
                                    </label>
                                </div>

                            </div>

                            <div class="mb-3 align-bottom">
                                <button type="submit" class="btn  btn-warning mb-3">Login</button>
                            </div>
                        </form>
            </div>
        </div>
        </div>
        <div class="tab-pane fade" id="signup">
          <div class="col-md-6 bg-light">
            <div class="me-md-2 pt-2 px-2 pt-md-2 px-md-2 text-dark overflow-hidden">
                <div class="my-3 py-3">
                    <div class="section-header-secondary mb-0 pb-0">
                        <h2 class="display-5">Sign Up</h2>
                    </div>
                    <form method="POST" action="/signup_action">
  <div class="mb-3">
    <label for="signup-username" class="form-label">Username</label>
    <input type="text" class="form-control" id="signup-username" name="signup-username" required>
  </div>
  <div class="mb-3">
    <label for="signup-password" class="form-label">Password</label>
    <input type="password" class="form-control" id="signup-password" name="signup-password" required>
  </div>
  <div class="mb-3">
    <label for="signup-email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="signup-email" name="signup-email" aria-describedby="signup-email-help" required>
    <div id="signup-email-help" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="form-check mb-3">
    <input type="checkbox" class="form-check-input" id="post-opportunities" name="post-opportunities">
    <label class="form-check-label" for="post-opportunities">I want to post opportunities as part of an organization</label>
  </div>
  <button type="submit" class="btn btn-success">Sign Up</button>
</form>
                </div>

            </div>
        </div>
        </div>
      </div>
    </div>
  </div>



</main>
<!-- Bootstrap Bundle with Popper and jQuery -->
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>
